/* normal */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modals-wrapper {
	display: none;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
body {
	margin: 0;
	font-family: 'MuseoSans';
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #2d2d2d;
	text-align: left;
	background: #fff;
}
img {
	border: 0px;
	display: block;
}
a,
input {
	outline: none;
}
ol,
ul,
dl {
	margin-top: 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}
dt {
	font-weight: 700;
}
dd {
	margin-left: 0;
}
blockquote {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
body h1, body .h1 {
	color: #273577;
	font-family: 'Gilroy';
	font-size: 54px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 60px;
}
body h2, body .h2 {
	color: #273577;
	font-family: 'Gilroy';
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.74px;
	line-height: 60px;
}
body h3, body .h3 {
	color: #273577;
	font-weight: 700;
	font-size: 22px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
body h4, body .h4 {
	color: #172982;
	font-family: 'Gilroy';
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
button {
	border-radius: 0;
}
button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.container, .container-xl, .container-sm {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.container-xl {
    max-width: ;
}
.container {
	max-width: 1310px ;
}
.container-sm {
	max-width: ;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.row > * {
	padding-right: 15px;
	padding-left: 15px;
}
.row.row-less10 {
	margin-right: -10px;
	margin-left: -10px;
}
.row.row-less10 > * {
	padding-right: 10px;
	padding-left: 10px;
}
.row.row-less-20 {
	margin-right: -20px;
	margin-left: -20px;
}
.row.row-less-20 > * {
	padding-right: 20px;
	padding-left: 20px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}
.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}
.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}
.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}
.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}
.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.d-flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.tagline {
	display: block;
	color: #2d2d2d;
	font-family: 'MuseoSans';
	font-weight: 300;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.btn {
    padding: 17px 17px;
	display: inline-flex;
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	border-radius: 8px;
	background: #0093d6;
	cursor: pointer;
	border: 0;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.btn i {
    margin-left: 15px;
	display: inline-block;
	width: 102px;
	height: 14px;
	vertical-align: middle;
	background: url(../images/right-arrow.svg)no-repeat center;
}
#banner-wrap .btn:before,
.btn.btn-large:before {
	content: "";
	position: absolute;
	top:50%;
	right:15px;
	content: "";
	width: 102px;
	height: 14px;
	vertical-align: middle;
	background: url(../images/right-arrow.svg)no-repeat center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.downbtn {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #0093d6 url(../images/small-down-arrow@2x.png)no-repeat center/10.5px;
	cursor: pointer;
	border: 0;
}
.primarybtn {
    display: inline-block;
    padding: 16px 15px;
    color: #0093d6;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
}
/* .parent-cats */
.page-main {
	overflow: hidden;
}
.parent-cats .sidebar.sidebar-main,
body.catalog-category-view .sidebar.sidebar-main {
	display: block;
	position: relative;
}

.categories-block .intro-panel {
	background-color: #f3f3f3;
	padding: 0px 20px 0px 53px; 
	margin-bottom: 80px;
}

.categories-block .intro-panel h3{
	color: #273577;
	font-family: 'Gilroy';
	font-size: 30px;
	line-height: 37px;
	margin-bottom: 15px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1px;	
	text-align: left;
}
.categories-block .intro-panel p {
	color: #4a4748;
	font-family: 'MuseoSans';
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 24px;
	text-align: left;
 }

.categories-block .intro-panel {
	display: flex;
	display: -webkit-flex;
}
.categories-block .intro-panel .intro-panel-left {
	flex: 0 0 56.34%;
	max-width: 56.34%;
	padding-top: 53px;
	padding-bottom: 53px;
}
.categories-block .intro-panel .intro-panel-right img {
	max-width: 100%;
	height: auto;
	margin-bottom: -33px;
}
.categories-block .intro-panel .intro-panel-right {
	flex: 0 0 43.66%;
	max-width: 43.66%;
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	padding-left: 22px;
	padding-top:20px;
}
.row-cat .col1 {
	flex: 0 0 25%;
	max-width: 25%;	
	margin-bottom: 40px;
}
.row-cat .col1 .categories-panel {
	width:100%;
}
.row-cat .col1 figure {
	min-height: 250px;
	background-color: #f5f5f5;
	margin-bottom: 20px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.row-cat .col1 figure img {
	max-width: 260px;
}
.row-cat .col1 h4 a{
	color: #4a4748;
	 font-family: 'MuseoSans';
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	text-align: left;
	margin-bottom: 0px;
}
/* template  */
#template {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
}

/* layout */
#layout {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

/* header */
#header-wrap {
    position: relative;
    width: 100%;   
}
.headertop {
	padding: 10px 0px;
	background: #273577;
	text-align: center;
	line-height: 20px;
	color: #ffffff;
	font-weight: 500;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 0.86px;
}
.headertop i {
	width: 20px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/delivery-icon@2x.png)no-repeat center/20px;
	margin-right: 20px;
}
.headermiddle {
    padding: 20px 0px;
}
.headermiddle .row {
	justify-content: space-between;
}
.header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
    max-width: 370px;
    width: 100%;
}
.headermiddle .mtoggle {
	margin-right: 20px;
	max-width: 40px;
    width: 100%;
}
.mtoggle {
    text-align: center;
	cursor: pointer;
	color: #2d2d2d;
	font-weight: 700;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
}
.mtoggle > div {
    margin: 8px auto;
	width: 24px;
	height: 2px;
	background-color: #2d2d2d;
}
.logo {
	max-width: 250px;
	width: 100%;
}
.header-right {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
    max-width: 63%;
    width: 100%;
}
.search-panel {
	max-width: 432px;
	width: 100%;
	position: relative;
}
.search-panel .block.block-search {
	width:100%;
}  
.search-panel .block.block-title {
	display: none;
}
.search-panel .block-search input[type="text"] {
	width: 100%;
	border: 0px;
	height: 40px;
	color: #000;
	font-weight: 300;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	border-bottom: 1px solid #a6a6a6;
    padding: 0px 9px;
    margin-left: 0px !important;
}
.search-panel input[type="text"]::placeholder {
	color: #a6a6a6;
}
.search-panel input[type="submit"] {
	position: absolute;
	top: -1px;
	right: 0;
	width: 40px;
	height: 40px;
	z-index: 2;
	border: 0;
	text-indent: -9999px;
	background: #fff url(../images/search-btn.svg)no-repeat center;
	cursor: ponter;
}
.search-panel .block-search .action.search:before {
	top:0px;
	right:0px;
	width: 40px;
	height: 40px;
	background: transparent url(../images/search-btn.svg)no-repeat center;
	font-size: 0px !important;
}
.rightlinks,
.rightlinks > ul {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
}
.rightlinks > ul > li {
    margin: 0px 11px;
}
.rightlinks > ul > li:last-child {
	margin-right: 0px;
}
.favbtn {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/heartbtn.svg)no-repeat center;
}
.profilebtn {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/profilebtn.svg)no-repeat center;
}
.addtocartbtn,
.rightlinks > ul > li a.action.showcart {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/shopping-cartbtn.svg)no-repeat center;
}
.rightlinks > ul > li a > span.text {
	display: none;
}
.headerbottom .navigation {
	background: transparent;
	 padding: 13px 0px 30px;
}
.headerbottom .navigation ul {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	align-items: center;
}
.headerbottom .navigation ul li {
    margin-right: 40px;
}
.headerbottom .navigation ul li:last-child {
	margin-right: 0px;
}
.headerbottom .navigation ul li a,
.headerbottom .navigation .level0 > .level-top {
	display: block;
	color: #273577;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 0.9px;
	line-height: normal;
	padding: 0px;
}
.headerbottom .navigation ul li a > span:after {
	display: none;
}
.headerbottom .navigation ul li a:before {
	display: none;
}
.headerbottom .navigation ul li:hover a,
.headerbottom .navigation .level0:hover > .level-top {
	color: #0093d6;
}
.headerbottom .navigation ul li.dangerCol a {
	color: #cc0706;
}


/* banner */
#banner-wrap .column-left {
    max-width: 55%;
    width: 100%;
	position: relative;
}
#banner-wrap .column-right {
    max-width: 45%;
    width: 100%;
	position: relative;
}
#banner-wrap .inner {
	min-height: 500px;
	background: #f3f3f3;
	padding: 58px 42px 30px;
}
#banner-wrap h1 {
    margin-bottom: 20px;
}
#banner-wrap .tagline {
    margin-bottom: 50px;
}
#banner-wrap figure {
    margin-top: 75px;
    margin-left: -43%;
    margin-bottom: -72px;
}
#banner-wrap .btn {
    margin-bottom: 22px;
    min-width: 348px;
    padding-right:138px;
}
#banner-wrap .column-right .pricetag {
    position: absolute;
    bottom: 0;
    right: 35px;
}
#banner-wrap .column-left .downbtn {
    position: absolute;
    bottom: -55px;
    left: 14px;
}
.sections.nav-sections {
	display: none;
}
.rating-panel {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}
.rating-panel .rating-num {
	color: #283578;
	font-weight: 700;
	font-size: 60px;
	font-style: normal;
	letter-spacing: 2.5px;
	line-height: normal;
	text-align: left;
}
.rating-panel .rating-num sup {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    position: relative;
    top: -3px;
    left: -2px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating .star {
	width: 22px;
	height: 22px;
	display: block;
    margin: 0px 4px;
}
.rating .star.full-star {
	background: url(../images/full-star-icon.svg)no-repeat center;
}
.rating .star.null-star {
	background: url(../images/null-star-icon.svg)no-repeat center;
}
.rating-panel .rating-cap .rating {
	margin-bottom: 10px;
}
.rating-panel .rating-cap span {
	display: block;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #a5a5a5;
    padding: 0px 6px;
	letter-spacing: 1px;
}
.rating-panel .rating-cap span a {
	display: inline-block;
	color: #0093d6;
	letter-spacing: 0.78px;
}
.pricetag {
	display: block;
	color: #2d2d2d;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
}
.pricetag sub {
	margin-top: 5px;
	display: block;
	color: #0093d6;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1.33px;
	line-height: normal;
	text-align: left;
}

/* content */
#content-wrap {
	overflow: hidden;
	width: 100%;
}

/* outlet-panel */
.outlet-block {
    padding-top: 105px;
    padding-bottom: 50px;
}
.outletblank-panel a.btn:before {
	content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    content: "";
    width: 102px;
    height: 14px;
    vertical-align: middle;
    background: url(../images/right-arrow.svg)no-repeat center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.outlet-panel {
	position: relative;
	min-height: 350px;
}
.outlet-panel .primarybtn {
    position: absolute;
    min-width: 250px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.outletblank-panel {
	position: relative;
	min-height: 350px;
	background: #0093d6;
}
.outletblank-panel .btn {
	position: absolute;
	min-width: 252px;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding-right: 0px;
}
.outletblank-panel .btn i {
	margin-left: 15px;
}

.popular-block {
    padding-top: 30px;
    padding-bottom: 50px;
}
.popular-block h3 {
    margin-bottom: 22px;
}
.popular-panel {
	
}
.popular-panel figure {
	position: relative;
}
.popular-panel figure img {
	width: 100%;
}
.popular-panel figure figcaption {
    padding: 7px 10px;
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    color: #172982;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    min-width: 137px;
    border-radius: 0 4px 4px 0;
    background: #ffffff;
}
.popular-panel .popular-text {
    padding: 14px 0px;
}
.popular-panel .popular-text h4 {
	color: #4a4748;
	font-weight: 700;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
    margin-bottom: 14px;
}
.popular-panel .popular-text h4 a {
	color: #4a4748;
}
.popular-panel .d-flex {
    padding-right: 20px;
    justify-content: space-between;
    margin-bottom: 17px;
}
.popular-panel .pricetag {
	display: block;
	color: #4a4748;
	font-weight: 300;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.88px;
	line-height: normal;
	text-transform: inherit;
}
.popular-panel .pricetag sub {
	display: block;
	color: #0093d6;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.popular-panel .pricetag.oldpricetag {
	color: #a5a5a5;
	font-size: 12px;
	letter-spacing: 0.75px;
}
.popular-panel .pricetag.oldpricetag sub {
    color: #a5a5a5;
    font-size: 12px;
    letter-spacing: 0.67px;
    margin-top: 8px;
	text-decoration: line-through;
}
.popular-panel .fav-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}
.check-list {
    display: block;
    color: #4caf50;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding-left: 28px;
    position: relative;
}
.check-list:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: "";
	background: url(../images/circle-check.svg)no-repeat center;
}
.list {
	display: block;
	color: #a6a6a6;
	font-weight: 500;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 20px;
}
.fav-icon {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #ffffff url(../images/blank-heart.svg)no-repeat center;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.fav-icon.full-heart-icon {
	background: #ffffff url(../images/fill-heart.svg)no-repeat center;
}

/* view-block */
.view-block {
    padding-top: 16px;
    padding-bottom: 30px;
}
.view-block .column-left {
    max-width: 35%;
    width: 100%;
}
.view-block .column-right {
	max-width: 65%;
	width: 100%;
}
.view-block .left-caption {
    position: relative;
    padding: 46px 25px 26px 40px;
    min-height: 100%;
    height: 100%;
}
.view-block .left-caption h2 {
	
}
.view-block .left-caption .btn {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: calc(100% - 65px);
    bottom: 28px;
}
.view-block figure {
    margin-left: -15px;
	min-height: 500px;
	position: relative;
}
.view-block .viewpricetag {
    position: absolute;
    bottom: 26px;
    right: 40px;
    z-index: 2;
}
.view-block .inner {
	background: #f3f3f3;
}
.viewpricetag {
    padding: 9px 20px;
	display: block;
	color: #2d2d2d;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	min-width: 200px;
	border-radius: 8px;
	background: #ffffff;
}
.viewpricetag em {
	margin-top: 3px;
	display: block;
	color: #0093d6;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1.33px;
	line-height: normal;
}

/* services-block */
.services-block {
    padding-top: 50px;
    padding-bottom: 100px;
}
.services-block ul li {
	border-right: solid 1px #e5e5e5;
}
.services-block ul li:last-child {
	border-right: 0;
}
.services-panel {
    padding: 15px 15px 28px;
	text-align: center;
}
.services-panel i {
    margin: 0 auto;
    margin-bottom: 28px;
}
.services-panel strong {
	display: block;
	color: #4a4748;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.icons {
	display: block;
	width: 70px;
	height: 70px;
}
.icons.truck-icon {
	background: url(../images/truck-icon.svg)no-repeat center;
}
.icons.security-icon {
	background: url(../images/security-icon.svg)no-repeat center;
}
.icons.eurohand-icon {
	background: url(../images/euro-hand-icon.svg)no-repeat center;
}

/* footer wrap */
#footer-wrap {
	width: 100%;
}
.footerlinks-block {
    background: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 30px;
}
.footerlinks-block a.footerlogo {
    display: block;
}
.social-links {
    display: inline-flex;
    margin-top: 59px;
}
.social-links li {
    margin-right: 20px;
}
.social-links li a {
	display: block;
}
.social-links li a em {
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	font-size: 0px;
}
.social-icon {
	width: 40px;
	height: 40px;
}
.social-icon.insta-icon {
	background: url(../images/instagram-icon.svg)no-repeat center;
}
.social-icon.facebook-icon {
	background: url(../images/facebook-icon.svg)no-repeat center;
}
.footerlinks-block h4 {
    padding: 18px 0px 14px;
}
.footerlinks-block address {
    padding: 8px 0px;
    margin-bottom: 7px;
}
.footerlinks-block table tr td {
	color: #4a4748;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
    padding: 6px 0px;
}
.footerlinks-block table tr td:nth-child(2) {
	font-weight: 700;
}
.footerlinks-block table tr td:nth-child(1) {
    width: 82px;
}

.ulinks li {
    padding: 7px 0px;
}
.ulinks li a {
	display: inline-block;
	color: #4a4748;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.88px;
	line-height: normal;
}
address {
	color: #4a4748;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 24px;
}
address a {
	color: #0093d6;
}

.copyright-block {
    padding: 20px 0px;
}
.copyright-block .row.space-between {
	justify-content: space-between;
	align-items: center;
}
.paymentlist {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.paymentlist li {
	position: relative;
	margin-right: 20px;
	width: 98px;
	height: 56px;
	border-radius: 6px;
	border: 1px solid #dddddd;
}
.paymentlist li img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.paymentlist li:last-child {
	margin-right: 0px;
}
.copyrightlist {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    padding-right: 30px;
}
.copyrightlist li a {
	display: block;
	color: #a5a5a5;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.copyrightlist li {
	margin-right: 20px;
}
.copyrightlist li:last-child {
	margin-right: 0px;
}
.copyrightlist li span {
	display: block;
	color: #0093d6;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}

/* productDesc-block */
.row.row-less20 {
	margin-right: -20px;
    margin-left: -20px;
}
.row.row-less20 >  * {
	padding-right: 20px;
    padding-left: 20px;
}
.h2-small {
	color: #273577;
	font-family: 'Gilroy';
	font-size: 28px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0.93px;
	line-height: normal;
}
.h3-small {
	color: #273577;
	font-family: 'Gilroy';
	font-size: 26px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 1.3px;
	line-height: normal;
}
.tagline2 {
	color: #e5e5e5;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	text-align: left;
}
.addtocart {
    display: block;
    min-width: 320px;
    border-radius: 8px;
    border: 0px;
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    padding: 18px 23px;
	background: #0093d6 url(../images/shopping-cartbtn-white.svg)no-repeat center right 15px;
	cursor: pointer;
}
.add-fav {
	padding: 10px;
	min-width: 60px;
	height: 55px;
	border-radius: 8px;
	background: #f5f5f5 url(../images/heartbtn-dark.svg)no-repeat center;
	cursor: pointer;
	border: 0px;
}
.addtocart:focus, .add-fav:focus {
	outline: 0;
}
.ul-check-list li {
    position: relative;
	padding: 10px 0px;
    padding-left: 32px;
    color: #4a4748;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 21px;
}
.ul-check-list li:after {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 20px;
    height: 20px;
    content: "";
    background: url(../images/circle-check.svg)no-repeat center/20px;
}
.strng-title {
	display: block;
	color: #4a4748;
	font-weight: 700;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 24px;
}
.strng-title2 {
	display: block;
	color: #4a4748;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 24px;
}
.onlyaddtocart {
	min-width: 51px;
	height: 51px;
	border-radius: 5px;
	cursor: pointer;
	border: 0px;
	background: #0093d6 url(../images/shopping-cartbtn-white.svg)no-repeat center;
}
.time-list {
	position: relative;
    padding-left: 28px;
	display: block;
	color: #cc0706;
	font-weight: 700;
	font-size: 12px;
	font-style: normal;
	letter-spacing: 1px;
    line-height: 20px;
}
.time-list:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    background: url(../images/time-icon-red.svg)no-repeat center;
}

/* productDesc-block */
.productDesc-block {
    padding-top: 28px;
}
.productDesc-block .column-left {
	max-width: 67%;
	width: 100%;
}
.productDesc-block .column-right {
	max-width: 33%;
	width: 100%;
}
.product-Slider-outer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-Slider-outer .product-Slider-nav {
    max-width: 21.4%;
    width: 100%;
}
.product-Slider-outer .product-Slider {
    max-width: 74%;
    width: 100%;
}
.product-Slider-nav {
	margin-top: -16px;
}
.product-Slider-nav .slick-track > div {
	padding: 16px 0px;
}
.product-Slider-nav .slick-slide:focus,
.product-Slider .slick-slide:focus {
	outline: 0;
}
.product-Slider-nav.slick-vertical .slick-slide.slick-current img {
	border: 2px solid #0093d6;
}

.price-panel {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.current-price span {
	display: block;
	color: #a5a5a5;
	font-weight: 300;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.88px;
	line-height: normal;
    margin-bottom: 8px;
}
.current-price strong {
	display: block;
	color: #a5a5a5;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: normal;
	text-decoration: line-through;
}
.offer-price span {
	display: block;
	color: #4a4748;
	font-weight: 300;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.88px;
	line-height: normal;
	margin-bottom: 8px;
}
.offer-price strong {
	display: block;
	color: #0093d6;
	font-weight: 500;
	font-size: 20px;
	font-style: normal;
	letter-spacing: 1.11px;
	line-height: normal;
}
.productDesc-block .tagline2 {
    margin-bottom: 7px;
    display: block;
}
.productDesc-block h2 {
    margin-bottom: 20px;
}
.productDesc-block .price-panel {
    margin-bottom: 20px;
}
.productDesc-block .size-panel {
    margin-bottom: 18px;
}
.size-panel .size-panel-title {
	display: block;
	color: #4a4748;
	font-weight: 300;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
    margin-bottom: 22px;
}
.size-panel .size-panel-title strong {
	font-weight: 700;
}
.size-select {
	position: relative;
}
.size-select strong {
	position: absolute;
    top: 8px;
	left: 22px;
	display: inline-block;
	color: #a5a5a5;
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.size-select .DivSelectyze .selectyzeValue {
    display: block;
    min-height: 55px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    width: 100%;
    color: #4a4748;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    padding: 28px 50px 5px 22px;
	background: url(../images/arrow-down-icon.svg)no-repeat center right 17px;
}
.size-select .DivSelectyze .UlSelectize li a {
    display: block;
    color: #4a4748;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    padding: 10px 22px;
}
.size-select .DivSelectyze .UlSelectize {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
	border-radius: 0px 0px 8px 8px;
	border: 1px solid #dddddd;
    background: #fff;
    z-index: 9;
}
.productDesc-block .btm-links {
	justify-content: space-between;
    margin-bottom: 20px;
}
.productDesc-block .btm-links .addtocart {
	max-width: calc(100% - 75px);
	width: 100%;
}
.productDesc-block .ul-check-list {
    margin-bottom: 18px;
}
.accordion-panel {
	
}
.accordion-panel .accordion-title {
    padding: 30px 45px 30px 2px;
	position: relative;
	cursor: pointer;
}
.accordion-panel .accordion-title:after {
    position: absolute;
    top: 28px;
    right: 2px;
    width: 30px;
    height: 30px;
    content: "";
    background: url(../images/arrow-down-icon.svg)no-repeat center;
}
.accordion-panel .accordion-row.active .accordion-title:after {
	transform: rotate(-180deg);
}
.accordion-panel .accordion-row.active .accordion-content {
	display: block;
}
.accordion-panel .accordion-content {
	display: none;
}
.accordion-panel .accordion-content p {
	color: #4a4748;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 24px;
    margin-bottom: 21px;
}
.accordion-panel .accordion-content .strng-title {
    margin-bottom: 10px;
}
.accordion-panel .accordion-row {
	border-top: solid 1px #e5e5e5;
}
.accordion-panel .accordion-content > div {
    padding-bottom: 6px;
}


/* cmplmntryProduct-block */
.cmplmntryProduct-block {
    background: #f3f3f3;
    padding: 52px 0px;
}
.cmplmntryProduct-block h3 {
    margin-bottom: 32px;
}

/* cmplmntryProduct-panel */
.cmplmntryProduct-panel {
	
}
.cmplmntryProduct-panel figure {
	position: relative;
	display: block;
	overflow: hidden;
}
.cmplmntryProduct-panel .fav-icon {
	position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.cmplmntryProduct-panel .desc {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 20px 10px 38px 20px;
	background: #fff;
}
.cmplmntryProduct-panel .desc h5 {
	color: #4a4748;
	font-weight: 700;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
    margin-bottom: 16px;
}
.cmplmntryProduct-panel .desc .pricetg {
	display: inline-block;
	color: #4a4748;
	font-weight: 300;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 0.9px;
	line-height: normal;
}
.cmplmntryProduct-panel .desc .onlyaddtocart {
	margin-left: 15px;
}
.cmplmntryProduct-panel .desc .desc-t {
    max-width: calc(100% - 66px);
    width: 100%;
}
.popular-block.style2 {
    padding-top: 70px;
    padding-bottom: 92px;
}

/*  */
#banner-wrap.subbanner .inner {
    min-height: 300px;
    padding: 43px 62px 30px;
}
#banner-wrap.subbanner h2 {
	font-weight: 800;
	font-size: 30px;
}
#banner-wrap.subbanner .tagline {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 1px;
}
#banner-wrap.subbanner figure {
    margin-top: 38px;
    margin-left: -3%;
    margin-bottom: -72px;
}
#banner-wrap.subbanner .column-right .pricetag {
    position: absolute;
    bottom: -12px;
    right: -16px;
}
.filter-options.not-fixed {
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.filter-options.not-fixed > .filter-options-item  {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    outline: none;
    display: none;
}
.filter-options.not-fixed > .filter-options-item:nth-child(1),
.filter-options.not-fixed > .filter-options-item:nth-child(2),
.filter-options.not-fixed > .filter-options-item:nth-child(3),
.filter-options.not-fixed > .filter-options-item:nth-child(4) {
	display: block;
}


.filter-options.not-fixed > .filter-options-item > .filter-options-title {
	display: block;
    color: #4a4748;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.89px;
    line-height: 30px;
    border-radius: 8px;
    background: #f3f3f3;
    padding: 13px 24px;
    border: 1px solid #f3f3f3;
     transition: 0.5s all;
    -webkit-transition: 0.5s all;
    outline: none;
}
.filter-options.not-fixed > .filter-options-item:hover > .filter-options-title,
.filter-options.not-fixed > .filter-options-item:focus > .filter-options-title,
.filter-options.not-fixed > .filter-options-item:active > .filter-options-title {
    border: 1px solid #0093d6;
    background: #fff;
    color: #0093d6;
}
.filter-options.not-fixed > .filter-options-item .filter-options-content {
	background: #f3f3f3;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	min-width: 200px;
	left:50%;
	transform: translateX(-50%);
	z-index: 9999;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}
.filter-options.not-fixed > .filter-options-item .filter-options-content ol.items > li > a {
	display: block;
    color: #4a4748;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.89px;
    line-height: 15px;
    border-radius: 0px;    
    padding: 5px 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;

} 
.sidebar.sidebar-main {
	padding-right: 0px;
}
.filter-options.not-fixed > .filter-options-item .filter-options-content ol.items > li:hover a,
.filter-options.not-fixed > .filter-options-item .filter-options-content ol.items > li:focus a {
	color:#fff;
	background-color:#ccc;
}
.toolbar-sorter.sorter {
	display: none;
}
.layered-filter-block-items {
	display: flex;
	display: -webkit-flex;	
	flex-wrap: wrap;
	margin-bottom: 25px;
}
.layered-filter-block-items .block.filter {
	flex: 0 0 70%;
	max-width: 70%;
	padding-right: 40px;
}
.layered-filter-block-items .filter-right {
	flex: 0 0 30%;
	max-width: 30%;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
}
.layered-filter-block-items .filter-right .filter-sort > label {
	color: #4a4748;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: normal;
}
.layered-filter-block-items .filter-right .filter-sort select {
 	min-width: 200px;
    color: #a5a5a5;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.89px;
    line-height: 30px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    padding: 5px 16px;
    margin-left: 31px;
 }
 .toolbar.toolbar-products p.toolbar-amount {
 	color: #a5a5a5;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    margin-top:0px;
    margin-right: 40px;
 }
 .item-show-filter,
 .item-show-filter .filter-current {
 	display: flex;
 	display: -webkit-flex;
 	align-items: center;
 }
 .filter-content-one + .filter-current,
 .popular-block + .toolbar.toolbar-products,
 .block-actions.filter-actions {
 	display: none;
 }
 .catalog-category-view .toolbar.toolbar-products{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	align-items: center;
	margin-bottom: 30px;
 }
  .catalog-category-view .toolbar.toolbar-products .pages {
  	display: none;
  }
 
 .item-show-filter strong.block-subtitle {
 	color: #4a4748;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    margin-right: 40px;
 }
  .item-show-filter  ol.items {
  	display: flex;
  	display: -webkit-flex;
  	flex-wrap: wrap;
  	margin-right: 10px;
  }
 .item-show-filter  ol.items > li > span.filter-label {
 	display: none;
 }
 .item-show-filter  ol.items > li {
 	padding: 9px 49px 9px 19px;
 	position: relative;
 	border-radius: 8px;
    border: 1px solid #4a4748;
    text-align: left;
    background: #fff;
    margin-right: 10px;
 }
 .item-show-filter  ol.items > li > span.filter-value {
 	color: #4a4748;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 20px;
 }
  .item-show-filter  ol.items > li a.action {
      font-size: 0px;
    width: 20px;
    height: 20px;
    background: url(../images/close-icon.svg)no-repeat center / 11px;
    position: absolute;
    right: 6px;
  }
 a.action.clear.filter-clear {
  	display: inline-block;
    color: #4a4748;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-decoration: underline;
  }
.filter-option {
	justify-content: space-between;
	align-items: center;
    margin-bottom: 35px;
}
.filter-option ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.filter-option ul li {
	margin-right: 10px;
}
.filter-option ul li a {
	display: block;
	color: #4a4748;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: 30px;
	border-radius: 8px;
	background: #f3f3f3;
    padding: 13px 24px;
}
.filter-option ul li a.morefilter,
.filter-options-item.more-items a.morefilter {
	color: #0093d6;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: 30px;
	border-radius: 8px;	
	background: #fff;
}

.filter-options-item.more-items .filter-options-title {
	border: 1px solid #0093d6 !important;
	background: #fff !important;
}
/* fixed-filter-desktop */
.sidebar.sidebar-main:before {
	content: "";
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height: 100vh;
	z-index: 99;
	background: rgba(0,0,0,0.5);
	opacity:0;
	visibility: hidden; 
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}
.sidebar.sidebar-main.overlay:before {
	opacity:1;
	visibility: visible; 
}
.fixed-filter-desktop {
	width: 100%;
    max-width: 460px;
    background: #fff;
    padding: 50px 40px 50px 60px;
    position: fixed;
     top: 0px;
    left:0px;
    z-index: 999;   
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}	

.fixed-filter-desktop:after {
	content: "";
	background: #fff;
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.fixed-filter-desktop .filter-block-top {
	margin-bottom: 50px;
	position: relative;
}
.fixed-filter-desktop .filter-block-top > h3 {
	font-size: 24px;
	font-family: 'Gilroy';
	 font-weight: 800;
	 line-height: 30px;
}
.fixed-filter-desktop .filter-block-top a.close-filter {
	width: 20px;
    height: 20px;
    background: url(../images/close-icon-blue.png) no-repeat center center / 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.filter-block-bottom .filter-options-item {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #e5e5e5;
	padding: 19px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.filter-block-bottom .filter-options-item .filter-options-title {
	color: #4a4748;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1.29px;
	line-height: normal;
	text-align: left;
	margin-bottom: 10px;
	background: url(../images/arrow_down.svg) no-repeat center right 20px / 15px;
	outline: none;
}
.filter-block-bottom .filter-options-item.active .filter-options-title { 
	background: url(../images/arrow_up.svg) no-repeat center right 20px / 15px;
}
.filter-block-bottom .filter-options-item .filter-options-content ol.items > li > a {
	color: #a5a5a5;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
	letter-spacing: 1.14px;	
	text-align: left;
	transition: 0.5s all;
}
.filter-block-bottom .filter-options-item .filter-options-content ol.items > li:hover a,
.filter-block-bottom .filter-options-item .filter-options-content ol.items > li:focus a {
	color: #ccc;
}
.filter-block-bottom .filter-options-item .swatch-attribute-options.clearfix {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.filter-block-bottom .filter-options-item .swatch-attribute-options.clearfix a.swatch-option-link-layered {
	flex: 0 0 32px;
	max-width: 32px;
	padding: 3px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
}
.filter-block-bottom .filter-options-item .swatch-attribute-options.clearfix a.swatch-option-link-layered:hover,
.filter-block-bottom .filter-options-item .swatch-attribute-options.clearfix a.swatch-option-link-layered:focus {
	color: #0093d6;;
}
.filter-block-bottom .filter-options-item .swatch-attribute-options.clearfix a.swatch-option-link-layered .swatch-option.color {
	width: 24px;
	height: 24px;
	border-radius: 3px;
}
.btn-item {
	color: #4a4748;	
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
	letter-spacing: 1px;	
	text-align: center;
	padding: 16px 50px;
	border-radius: 8px;
	background-color: #f3f3f3;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	box-sizing: border-box;
	display: inline-block;
}
.btn-item:hover,
.btn-item:focus {
	background-color: #0093d6;
	color:#fff;
}
.fixed-filter-desktop .filter-current {
	display: none;
}

/* finish */
.sort-p {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.sort-p strong {
	color: #4a4748;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: normal;
}
.sort-p select {
    min-width: 200px;
    color: #a5a5a5;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.89px;
    line-height: 30px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    padding: 5px 16px;
    margin-left: 31px;
}
.sort-p select:focus {
	outline: 0;
}
.filter-option-bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	align-items: center;
    margin-bottom: 30px;
}
.filter-option-bottom > div {
	margin-right: 40px;
}
.filter-option-bottom > div.only-option {
	margin-right: 13px;
}
.filter-option-bottom .only-option button {
	margin-right: 10px;
}
.ttl-result {
	color: #a5a5a5;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.only-label {
	color: #4a4748;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
}
.only-option {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.opt {
	position: relative;
	padding: 9px 49px 9px 19px;
	display: block;
	color: #4a4748;
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 20px;
	border-radius: 8px;
	border: 1px solid #4a4748;
	text-align: left;
	background: #fff;
}
.opt i {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url(../images/close-icon.svg)no-repeat center;
}
.filter-option-bottom a {
	display: inline-block;
	color: #4a4748;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	text-decoration: underline;
}
.popular-block .popular-panel {
    margin-bottom: 30px;
}
.popular-block .pagination {
    margin: 45px 0px;
}
.popular-block .pagination .pages-label {
	display: none;
}
.popular-block .pagination ul.items.pages-items {
	    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.popular-block .pagination ul.items.pages-items li.item {
	display: none;
}
.popular-block .pagination ul.items.pages-items li.item.current,
.popular-block .pagination ul.items.pages-items li.item.pages-item-next,
.popular-block .pagination ul.items.pages-items li.item.pages-item-previous {
	display: block;
}
.popular-block .pagination ul.items.pages-items li.item.pages-item-next a.action.next {
	font-size: 0px;
	width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left: 32px;
    background: url(../images/arrow-right-gray.svg)no-repeat center;
}
.popular-block .pagination ul.items.pages-items li.item.pages-item-previous a.action.previous {
	font-size: 0px;
	width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: 32px;
    background: url(../images/arrow-left-gray.svg)no-repeat center;
}

.popular-block .pagination ul.items.pages-items li.item.pages-item-next a.action.next span,
.popular-block .pagination ul.items.pages-items li.item.pages-item-previous a.action.previous span {
	font-size: 0px;
}

/* pagination */
.pagination {
	text-align: center;
}
.pagination span {
	display: inline-block;
	color: #4a4748;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	vertical-align: middle;
}
.pagination span em {
	font-style: normal;
}
.pagination .pagination-arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
}
.pagination .pagination-arrow.prevbtn {
    margin-right: 32px;
	background: url(../images/arrow-left-gray.svg)no-repeat center;
} 
.pagination .pagination-arrow.nextbtn {
    margin-left: 32px;
	background: url(../images/arrow-right-gray.svg)no-repeat center;
}
@media (min-width: 768px) {
.container {
   max-width: 1310px ;
}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}